.section_test {
    background-color: black;
    background-image: url(../../assets/img/textBack.svg);
    min-height: 352px;
    .test {
        .test__text {
            .test__h3 {
                font-family: "Montserrat", sans-serif;
                font-size: 36px;
                line-height: 46px;
                font-weight: 700;
                color: #ffffff;
                text-align: center;
                margin-top: 80px;
            }
            .test__h5 {
                margin-top: 20px;
                font-family: "Montserrat", sans-serif;
                font-size: 18px;
                line-height: 24px;
                font-weight: 500;
                color: #ffffff;
                text-align: center;
            }
        }
        .test__button {
            text-align: center;
            .test__butt {
                margin-top: 43px;
                width: 175px;
                height: 45px;
                background: #037e8c;
                border-radius: 9px;
                font-family: "Montserrat", sans-serif;
                font-weight: 600;
                line-height: 18px;
                color: #ffffff;
                border: none;
                &:hover {
                    background-color: #ffffff;
                    color: #037e8c;
                    border: 1.5px solid #037e8c;
                    transition: 0.4s;
                }
            }
        }
    }
}

@media (max-width: 575.98px) {
    .section_test {
        height: 450px;
    }
}
