.section__team {
    background-repeat: no-repeat;
    background-image: url(../../../assets/img/bamper.svg);
    .our__team {
        margin-top: 65px;
        font-family: "Montserrat", sans-serif;
        font-size: 36px;
        line-height: 46px;
        text-align: center;
        margin-bottom: 35px;
    }
    .team {
        width: 300px;
        margin-top: 30px;
        margin-right: 30px;
        margin-bottom: 64px;
        .team__photo {
            img {
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }
        }
        .team__text {
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            height: 93px;
            background-color: rgba(114, 110, 110, 0.199);
            h5 {
                font-family: "Montserrat", sans-serif;
                font-size: 24px;
                line-height: 32px;
                color: #037e8c;
                padding-left: 26px;
                padding-top: 17px;
            }
            p {
                font-family: "Montserrat", sans-serif;
                font-size: 18px;
                line-height: 24px;
                padding-left: 26px;
            }
        }
    }
}
@media (max-width: 575.98px) {
    .section__team {
        .team {
            margin: 0 auto;
            margin-top: 20px;
            width: 250px;
            .team__photo {
                img {
                    width: 310px;
                }
            }
        }
    }
}

@media (min-width: 470px) and (max-width: 575px) {
    .section__team {
        .team {
            margin-bottom: 10px;
        }
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .section__team {
        .team {
            .team__photo {
                img {
                    width: 80%;
                }
            }
            .team__text {
                width: 80%;
              }
            
        }
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .section__team {
        .team {
            width: 105%;
        }
    }
}


