.section__end {
    border-top: 1px solid #121214;
    border-bottom: 1px solid #121214;
    max-width: 100%;
    margin: 0 auto;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 75px;
    .footer__logo {
        width: 100%;
        margin-right: 200px;
    }
    .footer__all {
        .footer__menu {
            ul {
                display: flex;
                margin-left: 60px;
                list-style-type: none;
                li {
                    margin: 0 auto;
                    margin-top: 35px;
                    a {
                        text-decoration: none;
                        font-family: "Montserrat", sans-serif;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 15px;
                        margin-right: 50px;
                        &:hover {
                            color: #037e8c;
                            transition: 0.4s;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 470px) and (max-width: 575px) {
    .section__end {
        .footer__logo {
            position: relative;
            bottom: -95px;
        }
        .footer__all {
            .footer__menu {
                ul {
                    li {
                        position: relative;
                        left: 200px;
                    }
                }
            }
        }
    }
}
@media (min-width: 390px) and (max-width: 470px) {
    .section__end {
        .footer__logo {
            position: relative;
            bottom: -95px;
        }
        .footer__all {
            .footer__menu {
                ul {
                    li {
                        position: relative;
                        left: 190px;
                    }
                }
            }
        }
    }
}

@media (max-width: 575.98px) {
    .section__end {
        margin-left: 10px;
        margin-right: 10px;
        padding-bottom: 50px;
        .footer__logo {
            position: relative;
            bottom: -95px;
            margin-right: 0;
            padding-left: 0;
            margin-top: 10px;
        }
        .footer__all {
            .footer__menu {
                ul {
                    display: block;
                    margin: 0;
                    li {
                        margin-top: 0;
                        position: relative;
                        left: 100px;
                    }
                }
            }
        }
    }
}
@media (min-width: 576px) and (max-width: 767.98px) {
    .section__end {
        margin-left: 10px;
        margin-right: 10px;
        .footer__all {
            .footer__menu {
                ul {
                    display: block;
                    margin-left: 0;
                    li {
                        margin-top: 0;
                    }
                }
            }
        }
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    .section__end {
        .footer__all {
            .footer__menu {
                ul {
                    display: block;
                    li {
                        margin-top: 0;
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .section__end {
        .footer__all {
            .footer__menu {
                ul {
                    margin-left: 0;
                    li {
                        a {
                            margin-right: 7px;
                        }
                    }
                }
            }
        }
    }
}
