.section__team {
    .team {
        width: 300px;
        margin-top: 30px;
        margin-right: 30px;
        margin-bottom: 64px;
        .team__text {
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            height: 100%;
            background-color: rgba(114, 110, 110, 0.199);
        }
    }
    .lenght_page {
        text-align: center;
        font-size: 14px;
        font-weight: bold;
    }
    .button_page {
        width: 50%;
        &_active {
            width: 50%;
            opacity: 0.5;
            cursor: default;
        }
    }
    .PrevButton_page {
        width: 50%;
        &_active {
            width: 50%;
            opacity: 0.5;
            cursor: default;
        }
    }
}
