.footer {
    .footer__text {
        h3 {
            margin-top: 21px;
            font-family: "Montserrat", sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #787878;
            text-align: center;
        }
    }
}
