.section__questions {
    .questions__head {
        h2 {
            text-align: center;
            margin-top: 70px;
            font-size: 36px;
            line-height: 50px;
            color: #121214;
            font-family: "Montserrat", sans-serif;
            font-weight: 700;
            margin-bottom: 40px;
        }
    }
    .accordion {
        .accordions {
            .item {
                margin-bottom: 10px;
                max-width: 539px;
                border: 0.5px solid #848484;
                .accordion-item {
                    .accordion-item-header {
                        font-size: 16px;
                        font-weight: 600;
                        color: #121214;
                        line-height: 20px;
                        padding-top: 17px;
                        padding-left: 23px;
                        padding-bottom: 24px;
                        padding-right: 10px;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        position: relative;
                        &::after {
                            content: url(../../assets/img/Vector.svg);
                            position: absolute;
                            right: 16px;
                            transition: all 0.3s;
                        }
                        &.active {
                            &::after {
                                transition: all 0.3s;
                                transform: rotate(-90deg);
                            }
                        }
                    }
                }
                .accordion-item-body {
                    max-height: 0px;
                    overflow: hidden;
                    transition: 0.4s ease-in-out;
                    max-width: 1000px;
                    overflow: hidden;
                    transition: 0.4s;
                    &.active {
                        max-height: 999px;
                        overflow: hidden;
                        transition: 0.4s ease-in-out;
                    }
                    .accordion-item-body-content {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 21px;
                        color: #121214;
                        font-size: 14px;
                        padding-left: 23px;
                        padding-right: 31px;
                        padding-bottom: 16px;
                    }
                }
            }
        }
    }
    .section__dialog {
        text-align: center;
        margin-top: 62px;
    }
    .dialog__text {
        .dialog__text__h4 {
            font-family: "Montserrat", sans-serif;
            font-weight: 600;
            font-size: 24px;
            line-height: 30px;
            color: #121214;
            text-align: center;
            padding-top: 25px;
        }
        .dialog__text__h5 {
            text-align: center;
            padding-top: 15px;
            font-family: "Montserrat", sans-serif;
            color: #121214;
            font-weight: 400;
            line-height: 25px;
        }
        .dialog__butt__block {
            text-align: center;
            margin-top: 30px;
            .dialog__button {
                background: #037e8c;
                border-radius: 9px;
                width: 175px;
                height: 45px;
                color: #ffffff;
                font-size: 14px;
                font-weight: 600;
                line-height: 18px;
                font-family: "Montserrat", sans-serif;
                border: none;
                &:hover {
                    background-color: #ffffff;
                    color: #037e8c;
                    border: 1.5px solid #037e8c;
                    transition: 0.4s;
                }
            }
        }
    }
    .Additional {
        h4 {
            font-size: 32px;
            text-align: center;
            margin-top: 50px;
        }
    }
}

@media (max-width: 575.98px) {
    .section__questions {
        .questions__head {
            h2 {
                font-size: 20px;
                margin-top: 30px;
            }
        }
     
    }
}
