.wrapper {
  overflow-x: hidden;
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper._lock {
  overflow: hidden;
}

/***********ADAPTIVE************/

@media (max-width: 575.98px) {
  .wrapper {
    width: 100%;
  }
}