.wrapper {
  overflow-x: hidden;
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}



/********TIMER******/

.CountdownTimer {
 display: flex;
 align-items: center;
 justify-content: center;
 margin-bottom: 20px;
} 
.timer-text{
  text-align: center;
}
.timer-text h2{
  font-family: "Gotham Pro", "Montserrat Subrayada", sans-serif;
  font-size: 26px;
   font-weight: bold;
}
.timer-text h3{
  font-family: "Gotham Pro", "Montserrat Subrayada", sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.timer{
  border: 2px solid black;
  max-width: 600px;
  height: 100px;
  font-family: 'Oswald';
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.493);
}
.timer span {
  margin-left: 5px;
  margin-right: 5px;
}

/*******TABEL*****/

.array_active {
  transform: rotate(180deg);
  transition: 0.3s ease-in-out;
  margin-left: 4px;
}

.array {
  transform: rotate(0deg);
  transition: 0.3s ease-in-out;
  margin-left: 4px;
}

.arrayAlphabet {
  transform: rotate(180deg);
  transition: 0.3s ease-in-out;
  margin-left: 4px;
}

.arrayAlphabet_active {
  transform: rotate(0deg);
  transition: 0.3s ease-in-out;
  margin-left: 4px;
}

.table_input {
  max-width: 400px;
}

.table_input_date {
  max-width: 100px;
  margin-left: 10px;
}

.editTable {
  opacity: 0.3;
  cursor: pointer;
  padding-left: 30px;
}

.editTable:hover {
  opacity: 1;
}

/********************************************************/
.ProjectDescription {
  color: #ffffff;
  font-family: "Gotham Pro", "Montserrat Subrayada", sans-serif;
}

.ProjectName {
  color: #ffffff;
  font-family: "Gotham Pro", "Montserrat Subrayada", sans-serif;
}

.header {
  min-height: 920px;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav__logo {
  margin-left: 70px;
  margin-top: 12px;
}

.nav__ul {
  display: flex;
  margin-top: 39px;
  margin-left: 220px;
  list-style-type: none;
}

.nav__ul a {
  padding-left: 80px;
  margin-top: 40px;
  font-family: "Gotham Pro", "Montserrat Subrayada", sans-serif;
  font-weight: 400px;
  font-size: 14px;
  text-decoration: none;
  line-height: 15px;
  color: #ffffff;
}

.nav__ul a:hover {
  color: #037e8c;
  transition: 0.4s;
}

.number__call {
  margin-left: 58px;
}

.number__p {
  margin-top: 36px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 21px;
  color: #ffffff;
}

.number__button {
  margin-top: 10px;
  width: 177px;
  height: 40px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 9px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 15px;
  color: #ffffff;
  border: none;
}

.number__button:hover {
  background-color: #037e8c;
  transition: 0.4s;
}

.excursions__h1 {
  margin: 100px 0px 37px 70px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 70px;
  line-height: 90px;
  color: #ffffff;
  width: 600px;
  letter-spacing: 0.045em;
}

.excursions__h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 24px;
  margin-left: 70px;
  line-height: 26px;
  color: #ffffff;
}

.excursions__button {
  margin-top: 80px;
  margin-left: 70px;
  width: 274px;
  height: 55px;
  background: #037e8c;
  border-radius: 9px;
  border: none;
  color: #ffffff;
}

.excursions__button:hover {
  background: #10919ca4;
  transition: 0.4s;
}

.img__button {
  margin-left: 20px;
  background: transparent;
}

/***********our advantages**********/

.route__tree {
  position: relative;
  left: 34px;
}

.route {
  width: 305px;
  height: 105px;
  margin-top: 47px;
  margin-bottom: 27px;
  margin-left: 72px;
  margin-right: 68px;
  height: 170px;
}

.route__h3 {
  margin-top: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: #121214;
}

.route__p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #121214;
  margin-top: 16px;
}

/*****OUR ROUTES****/

.our__route {
  background-color: #f4f4f4;
  background-image: url(./assets/img/backgroundRoute.png);
}

.our_routes {
  margin-top: 57px;
  text-align: center;
  font-size: 36px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.route__base {
  margin-left: 70px;
  max-width: 700px;
  margin-top: 60px;
  margin-bottom: 140px;
}

.base__line {
  margin-top: 67px;
  margin-left: 70px;
  margin-bottom: 140px;
}

.base__h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  color: #121214;
  margin-bottom: 37px;
}

.base__h2 span {
  font-size: 24px;
  font-weight: 700;
}

.base__h3 h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 18px;
  color: #121214;
  margin-bottom: 9px;
}

.base__h3 h3 span {
  font-weight: bold;
}

.base__ico {
  padding-right: 17px;
  height: 13px;
}

.base__routes__h4 h4 {
  margin-bottom: 13px;
  margin-top: 34px;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 24px;
  color: #121214;
}

.base__icon__route {
  margin-left: 17px;
}

.base__routes__h4 p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #121214;
  width: 524px;
}

.base__routes__button {
  margin-top: 40px;
}

.base__button__moreInf {
  width: 175px;
  height: 45px;
  border: none;
  border-radius: 9px;
  background-color: #037e8c;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 18px;
  color: #ffffff;
  margin-left: 15px;
}

.base__button__moreInf:hover {
  background-color: #ffffff;
  color: #037e8c;
  border: 1.5px solid #037e8c;
  transition: 0.4s;
}

.base__button__book {
  width: 175px;
  height: 45px;
  border: none;
  border-radius: 9px;
  background-color: #037e8c;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 18px;
  color: #ffffff;
  margin-left: 15px;
}

.base__button__book:hover {
  background-color: #ffffff;
  color: #037e8c;
  border: 1.5px solid #037e8c;
  transition: 0.4s;
}

/******/
#slider [type="radio"] {
  display: none;
}

.carousel-slider {
  height: 250px;
  width: 100%;
  margin: 100px 0;
}

#slider {
  height: 514px;
  position: relative;
  perspective: 1600px;
  transform-style: preserve-3d;
}

#slider label {
  width: 343px;
  border-radius: 15px;
  position: absolute;
  left: 0;
  right: 0;
  cursor: pointer;
  transition: transform 0.4s ease;
  overflow: hidden;
}

#slider label img {
  width: 343px;
  height: 400px;
  display: block;
}

#s1:checked~#slide3,
#s2:checked~#slide1,
#s3:checked~#slide2 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  transform: translate3d(160%, 0, -200px);
}

#s1:checked~#slide2,
#s2:checked~#slide3,
#s3:checked~#slide1 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  transform: translate3d(70%, 0, -200px);
}

/******/

#slider-2 [type="radio"] {
  display: none;
}

.carousel-slider-2 {
  height: 250px;
  width: 100%;
}

#slider-2 {
  height: 514px;
  position: relative;
  perspective: 1600px;
  transform-style: preserve-3d;
}

#slider-2 label {
  width: 343px;
  border-radius: 15px;
  position: absolute;
  left: 0;
  right: 0;
  cursor: pointer;
  transition: transform 0.4s ease;
  overflow: hidden;
}

#slider-2 label img {
  width: 343px;
  height: 400px;
  display: block;
}

#s1-2:checked~#slide3-2,
#s2-2:checked~#slide1-2,
#s3-2:checked~#slide2-2 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  transform: translate3d(160%, 0, -200px);
}

#s1-2:checked~#slide2-2,
#s2-2:checked~#slide3-2,
#s3-2:checked~#slide1-2 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  transform: translate3d(70%, 0, -200px);
}

/******/

#slider-3 [type="radio"] {
  display: none;
}

.carousel-slider-3 {
  height: 250px;
  width: 100%;
  margin: 100px 0;
}

#slider-3 {
  height: 514px;
  position: relative;
  perspective: 1600px;
  transform-style: preserve-3d;
}

#slider-3 label {
  width: 343px;
  border-radius: 15px;
  position: absolute;
  left: 0;
  right: 0;
  cursor: pointer;
  transition: transform 0.4s ease;
  overflow: hidden;
}

#slider-3 label img {
  width: 343px;
  height: 400px;
  display: block;
}

#s1-3:checked~#slide3-3,
#s2-3:checked~#slide1-3,
#s3-3:checked~#slide2-3 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  transform: translate3d(160%, 0, -200px);
}

#s1-3:checked~#slide2-3,
#s2-3:checked~#slide3-3,
#s3-3:checked~#slide1-3 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  transform: translate3d(70%, 0, -200px);
}

/*****TEST*********/

.section_test {
  background-color: black;
  background-image: url(./assets/img/textBack.svg);
  min-height: 352px;
}

.test__h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  line-height: 46px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  margin-top: 80px;
}

.test__h5 {
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
}

.test__butt {
  margin-top: 43px;
  width: 175px;
  height: 45px;
  background: #037e8c;
  border-radius: 9px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 18px;
  color: #ffffff;
  border: none;
}

.test__button {
  text-align: center;
}

.test__butt:hover {
  background-color: #ffffff;
  color: #037e8c;
  border: 1.5px solid #037e8c;
  transition: 0.4s;
}

/*****PHOTO****/

/* .photo__img img {
  border-radius: 20px;
  margin-left: 60px;
  margin-bottom: 120px;
} */

#slider-photo [type="radio"] {
  display: none;
}

.carousel {
  height: 250px;
  width: 100%;
  margin: 100px 0;
}

#slider-photo {
  height: 100%;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}

#slider-photo label {
  margin: auto;
  width: 30%;
  height: 100%;
  border-radius: 15px;
  position: absolute;
  left: 0;
  right: 0;
  cursor: pointer;
  transition: transform 0.4s ease;
  overflow: hidden;
}

#slider-photo label img {
  width: 100%;
  height: 100%;
  display: block;
}

#s1-photo:checked~#slide2,
#s2-photo:checked~#slide3,
#s3-photo:checked~#slide4,
#s4-photo:checked~#slide5,
#s5-photo:checked~#slide1 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  transform: translate3d(-100%, 0, -200px);
}

#s1-photo:checked~#slide3,
#s2-photo:checked~#slide4,
#s3-photo:checked~#slide5,
#s4-photo:checked~#slide1,
#s5-photo:checked~#slide2 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  transform: translate3d(100%, 0, -200px);
}

#s1-photo:checked~#slide4,
#s2-photo:checked~#slide5,
#s3-photo:checked~#slide1,
#s4-photo:checked~#slide2,
#s5-photo:checked~#slide3 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  transform: translate3d(150%, 0, -200px);
}

#s1-photo:checked~#slide5,
#s2-photo:checked~#slide1,
#s3-photo:checked~#slide2,
#s4-photo:checked~#slide3,
#s5-photo:checked~#slide4 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  transform: translate3d(-150%, 0, -200px);
}

.photo__h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  line-height: 47px;
  color: #121214;
  text-align: center;
  margin-top: 80px;
}

/********VIDEO*********/
.section__video {
  background-repeat: no-repeat;
  background-image: url(./assets/img/videoBack.svg);
  height: 600px;
  background-size: cover;
}

.video__border {
  text-align: center;
}

.video__bord {
  margin-top: 82px;
  border: 6px solid #ffffff;
  border-radius: 4px;
}

/*****OUR TEAM****/

.section__team {
  background-repeat: no-repeat;
  background-image: url(./assets/img/бампер\ 2.svg);
}

.our__team h2 {
  margin-top: 65px;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  line-height: 46px;
  color: #121214;
  text-align: center;
  margin-bottom: 35px;
}

.team {
  width: 300px;
  margin-top: 30px;
  margin-right: 30px;
  margin-bottom: 64px;
}

.team__photo img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.team__text {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 93px;
  background-color: rgba(114, 110, 110, 0.199);
}

.team__text h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  line-height: 32px;
  color: #037e8c;
  padding-left: 26px;
  padding-top: 17px;
}

.team__text p {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #121214;
  padding-left: 26px;
}

/********services*********/

.services {
  min-height: 523px;
  background-color: #f4f4f4;
  background-image: url(./assets/img/ServicesBack.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.services__h2 h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  text-align: center;
  color: #121214;
  margin-top: 50px;
}

.services__icon {
  position: absolute;
  padding-left: 5px;
  padding-top: 9px;
}

.services__block {
  background-color: #ffffff;
  border-radius: 20px;
  width: 413px;
  height: 112px;
  margin-top: 43px;
}

.services__text {
  width: 350px;
  height: 90px;
  padding-left: 60px;
}

.services__text p {
  font-weight: 400;
  padding-top: 9px;
  font-size: 14px;
  line-height: 21px;
  color: #121214;
  font-family: "Montserrat", sans-serif;
}

.services__text span {
  font-weight: 700;
}

/*****special__offer*****/

.special__offer__h2 h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-top: 65px;
  margin-bottom: 45px;
}

.special__offer__all {
  display: flex;
  background-color: #f4f4f4;
  background-image: url(./assets/img/kaplya.png);
  background-repeat: no-repeat;
  background-position: bottom -20px right -60px;
}

.special__text h3 {
  margin-top: 26px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 36px;
  line-height: 50px;
  color: #037e8c;
  margin-left: 20px;
}

.special__text h3 span {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
}

.special__text p {
  margin-top: 20px;
  margin-left: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 24px;
  color: #373737;
}

.special__offer__secend {
  display: flex;
  background-color: #f4f4f4;
  background-image: url(./assets/img/kaplya.png);
  background-repeat: no-repeat;
  background-position: bottom -19px right -38px;
  margin-bottom: 30px;
}

.spec__offer__but {
  border: 1.5px solid #037e8c;
  box-sizing: border-box;
  border-radius: 9px;
  width: 175px;
  height: 45px;
  margin-left: 20px;
  margin-top: 14px;
}

.spec__offer__but:hover {
  background-color: #037e8c;
  color: #ffffff;
  border: 1.5px solid #ffffff;
  transition: 0.4s;
}

/******GIFT*****/

.section__gift {
  background-image: url(./assets/img/GiftBack.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.gift__head h2 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 46px;
  color: #151515;
  margin-top: 50px;
}

.gift__head h5 {
  text-align: center;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  line-height: 28px;
  color: #037e8c;
  margin-top: 13px;
}

.gift__text h5 {
  margin-top: 75px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  color: #151515;
  width: 520px;
}

.gift__img img {
  margin-top: 45px;
  margin-bottom: 90px;
}

.gift__button {
  margin-top: 30px;
  border: 1.5px solid #037e8c;
  box-sizing: border-box;
  border-radius: 9px;
  background-color: none;
  width: 277px;
  height: 45px;
}

.gift__button:hover {
  background-color: #037e8c;
  color: #ffffff;
  border: 1.5px solid #ffffff;
  transition: 0.4s;
}

/*****Questions*****/

.item {
  margin-bottom: 10px;
  max-width: 539px;
  border: 0.5px solid #848484;

}

.accordion-item-body {
  max-height: 0px;
  overflow: hidden;
  transition: 0.4s ease-in-out;
}

.accordion-item-body.active {
  max-height: 999px;
  overflow: hidden;
  transition: 0.4s ease-in-out;
}

.accordion-item.active {
  border: 0.5px solid #037e8c;
}

.accordion-item-header {
  font-size: 16px;
  font-weight: 600;
  color: #121214;
  line-height: 20px;
  padding-top: 17px;
  padding-left: 23px;
  padding-bottom: 24px;
  padding-right: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
}

.accordion-item-header::after {
  content: url(./assets/img/Vector.svg);
  position: absolute;
  right: 16px;
  transition: all 0.3s;
}

.accordion-item-header.active::after {
  transition: all 0.3s;
  transform: rotate(-90deg);
}

.accordion-item-body-content {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #121214;
  font-size: 14px;
  padding-left: 23px;
  padding-right: 31px;
  padding-bottom: 16px;
}

.accordion-item-body {
  max-width: 1000px;
  overflow: hidden;
  transition: 0.4s;
}

.questions__head h2 {
  text-align: center;
  margin-top: 70px;
  font-size: 36px;
  line-height: 50px;
  color: #121214;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.questions__text {
  padding: 21px;
  margin-top: 48px;
  border: 0.5px solid #037e8c;
  box-sizing: border-box;
  border-radius: 2px;
}

.questions__img {
  position: relative;
  margin-left: 560px;
  border: none;
  background-color: #ffffff;
}

.questions__block {
  border: 0.5px solid #848484;
  box-sizing: border-box;
  border-radius: 2px;
  padding-top: 16px;
  padding-left: 25px;
  padding-bottom: 19px;
}

.questions__right {
  position: relative;
  margin-left: 365px;
  border: none;
  background-color: #ffffff;
}

.questions__h {
  display: inline;
}

.questions__block {
  margin-top: 8px;
}

.section__dialog {
  text-align: center;
  margin-top: 62px;
}

.dialog__text__h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #121214;
  text-align: center;
  padding-top: 25px;
}

.dialog__text__h5 {
  text-align: center;
  padding-top: 15px;
  font-family: "Montserrat", sans-serif;
  color: #121214;
  font-weight: 400;
  line-height: 25px;

}

.dialog__button {
  background: #037e8c;
  border-radius: 9px;
  width: 175px;
  height: 45px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  font-family: "Montserrat", sans-serif;
  border: none;
}

.dialog__button:hover {
  background-color: #ffffff;
  color: #037e8c;
  border: 1.5px solid #037e8c;
  transition: 0.4s;
}

.dialog__butt__block {
  text-align: center;
  margin-top: 30px;
}

.Additional h4 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 36px;
  line-height: 50px;
  color: #121214;
  margin-top: 85px;
  font-weight: 700;
}

/*******ADITIONAL*****/

.additional__services {
  margin: 0 auto;
  width: 350px;
  margin-top: 55px;
}

.additional__text {
  background-color: rgba(114, 110, 110, 0.199);
}

.additional__text {
  min-height: 100px;
  padding-top: 15px;
  padding-bottom: 24px;
  font-family: "Montserrat", sans-serif;
  padding-left: 24px;
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  color: #037e8c;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}

.additional__img img {
  width: 350px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}

/*****contacts****/

.section__contacts {
  margin-top: 100px;
  margin-left: 70px;
}

.contacts__top {
  display: flex;
  margin-top: 65px;
}

.contacts__bottom {
  display: flex;
  margin-top: 40px;
}

.contacts__text {
  font-size: 18px;
  line-height: 22px;
  font-family: "Montserrat", sans-serif;
  color: #121214;
  font-weight: 400;
}

.contacts__h3 h3 {
  font-size: 36px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 50px;
  color: #121214;
  border-top: 3px solid #037e8c;
  max-width: 700px;
  padding-top: 15px;
}

.number__phone {
  position: absolute;
  margin-left: 11px;
  margin-top: 10px;
}

.number__email {
  position: absolute;
  margin-left: 10px;
  margin-top: 12px;
}

.number__time {
  position: absolute;
  margin-left: 9px;
  margin-top: 9px;
}

.contacts__number {
  margin-left: 114px;
}

.contacts__timeWork {
  margin-left: 25px;
}

.timeWork p {
  margin-left: 16px;
  width: 135px;
}

.contacts__inst {
  border: none;
  background-color: #ffffff;
}

.contacts__whatsup {
  border: none;
  background-color: #ffffff;
}

/****section__end****/

.section__end {
  border-top: 1px solid #121214;
  border-bottom: 1px solid #121214;
  max-width: 100%;
  margin: 0 auto;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 75px;
}

/* .footer__all{
  display: flex;
  border-top: 1px solid #121214;
  border-bottom: 1px solid #121214;
} */

.footer__menu ul {
  display: flex;
  margin-left: 60px;
  list-style-type: none;
}

.footer__menu ul li {
  margin: 0 auto;
  margin-top: 35px;
}

.footer__menu li a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 15px;
  color: #121214;
  margin-right: 50px;
}

.footer__menu li a:hover {
  color: #037e8c;
  transition: 0.4s;
}

.footer__logo {
  width: 100%;
  margin-right: 200px;
}

/****FOOTER****/

.footer__text h3 {
  margin-top: 21px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #787878;
  text-align: center;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/*******/
/******POPUP*****/

.popup__bg {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(18, 18, 20, 0.856);
  pointer-events: none;
  transition: all 0.6s;
  opacity: 0;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background-color: #ffffff;
  width: 1024px;
  height: 479px;
  padding: 25px;
  border-radius: 10px;
  transition: all 0.6s;
}

.popup__bg.active {
  opacity: 1;
  pointer-events: all;
  transition: all 0.6s;
  z-index: 30;
}

.popup_text {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  line-height: 30px;
  color: rgba(18, 18, 20, 1);
  font-weight: 600;
  margin-bottom: 30px;
  margin-top: 82px;
  transform: translate(30%, 0%);
}

.label_text {
  color: rgba(18, 18, 20, 1);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  margin-bottom: 10px;
}

.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}


.popup.active {
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.6s;
}

.popup label {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 12px;
}

.popup label input {
  height: 46px;
  max-width: 350px;
  background: #ffffff;
  border: 0.5px solid #787878;
  box-sizing: border-box;
  border-radius: 8px;
}

.popup input:focus {
  border: 1px solid #037e8c;
  border-radius: 8px;
}

.popup input:focus+.label_text {
  color: #037e8c;
  font-weight: 600px;
}

.popup button {
  width: 175px;
  height: 45px;
  background: #037e8c;
  border-radius: 9px;
  color: #ffffff;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  outline: none;
}

.form__all {
  transform: translate(30%, 0%);
}

/*******POPUP___EXCURSION*******/

.exc__text h1 {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 36px;
  color: #121214;
}

.popup_exc_h3 {
  margin-top: 31px;
}

.popup_exc_h3 h3 {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 16px;
  color: #121214;
  line-height: 18px;
}

.popup_exc_h3 span {
  font-weight: 400;
}

.popup__routes__h4 h4 {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 18px;
  color: #121214;
  line-height: 24px;
  margin-top: 32px;
}

.popup_button {
  border: 1.5px solid #037e8c;
  border-radius: 9px;
  font-family: "Montserrat";
  font-weight: 600;
  color: #037e8c;
  font-size: 14px;
  line-height: 18px;
  background-color: #ffffff;
  padding: 14px 25px;
}

.popup__text__see h3 {
  margin-top: 84px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #121214;
}

.popup__text__firstPart p {
  margin-top: 30px;
  font-family: "Montserrat";
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  color: #121214;
  margin-bottom: 30px;
}

.popup__price h3 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #121214;
}

.popup__text__secendPart p {
  font-family: "Montserrat";
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  color: #121214;
}

.popup__bike {
  max-width: 303px;
  margin-top: 15px;
}

.popup__bike_text {
  background-color: #f4f4f4;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
  text-align: center;
}

.popup__bike__img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
}

.popup__bike_text p {
  padding-top: 10px;
  font-size: 14px;
  font-family: "Montserrat";
  line-height: 18px;
  font-weight: 400;
  color: #121214;
  margin-bottom: 0;
}

.popup__bike_text h4 {
  padding-bottom: 10px;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  color: #037e8c;
}

.popup__bike_last {
  margin-bottom: 65px;
}

.popup__backgr {
  background-image: url(./assets/img/popup_back.svg);
  height: 100%;
  background-repeat: no-repeat;
}

.popup_form {
  position: relative;
  left: 110px;
  margin-top: 30px;
}

.popup_form input {
  width: 350px;
  height: 45px;
  background: #ffffff;
  border: 0.5px solid rgba(120, 120, 120, 1);
  border-radius: 8px;
}

.label_data h5 {
  font-family: "Montserrat";
  font-size: 14px;
  line-height: 18px;
  color: #121214;
  font-weight: 500;
}

.popup_form_button button {
  margin-top: 30px;
  background: #037e8c;
  border-radius: 9px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  padding: 14px 30px;
  border: none;
  position: relative;
  left: 110px;
}

.popup_form_button button:hover {
  background: #ffffff;
  color: #037e8c;
  border: 1px solid #037e8c;
  transition: all 0.6s;
}

.popup_form_h3 {
  position: relative;
  left: 110px;
  margin-top: 65px;
}

/*******************/
.popup__bg__exc {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(18, 18, 20, 0.8);
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s;
  overflow-y: auto;
}

.popup__bg__exc.active {
  opacity: 1;
  pointer-events: all;
  transition: all 0.5s;
  z-index: 9999;

}

.popup__exc {
  z-index: 1200;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
  max-width: 1300px;
  transition: all 0.5s;
  background: white;
}

.close-popup_exc {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/*********************/

.videoBG {
  position: absolute;
  z-index: -20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

/***********ADAPTIVE************/

@media (max-width: 575.98px) {
  .footer__logo {
    position: relative;
    bottom: -95px;
  }

  .Additional h4 {
    font-size: 32px;
  }

  .videoBG {
    min-height: 900px;
  }

  #slider-2 label {
    height: 64%;
    width: 75%;
  }

  #slider-3 label {
    height: 64%;
    width: 75%;
  }

  .base__line2 {
    position: relative;
    left: 225px;
    top: 345px;
  }

  .our__route__img2 {
    position: relative;
    top: 280px;
  }

  .our__route {
    height: 3000px;
  }

  .route__base2 {
    position: relative;
    top: 300px;
  }

  #slider label {
    height: 64%;
    width: 75%;
  }

  .nav__logo {
    width: 50px;
    margin-left: 20px;
    margin-top: 15px;
  }

  .wrapper {
    width: 100%;
  }

  .nav__ul {
    display: block;
    margin-left: 0;
    margin-top: 0px;
  }

  .excursions__h1 {
    font-size: 35px;
    margin: 0 auto;
    width: auto;
  }

  .excursions__h2 {
    font-size: 16px;
    margin: 0 auto;
  }

  .excursions__button {
    margin: 0 auto;
    margin-top: 42px;
  }

  .route__base {
    margin-left: 0px;
  }

  .route {
    padding-top: 20px;
    width: 160px;
    height: 144px;
    margin: 0 auto;
    margin-bottom: 60px;
  }

  .route__h3 {
    font-size: 16px;
  }

  .route__p {
    font-size: 14px;
  }

  .our_routes_h2 {
    margin: 0 auto;
  }

  .base__h2 {
    font-size: 24px;
    margin-top: 20px;
  }

  .base__h2 span {
    font-size: 18px;
  }

  .base__line {
    position: relative;
    left: 206px;
    bottom: -48px;
    margin: 0;
  }

  .base__routes__h4 h4 {
    font-size: 16px;
  }

  .base__routes__h4 p {
    font-size: 14px;
    width: 290px;
  }

  .base__button__moreInf {
    width: 130px;
    height: 41px;
    margin-left: 0;
    text-align: center;
    font-size: 13px;
  }

  .base__button__book {
    width: 130px;
    height: 41px;
    font-size: 13px;
    text-align: center;
  }

  .route__base {
    margin-bottom: 0px;
  }

  .route__base {
    width: auto;
    margin: 0 auto;
  }

  .our__route__img img {
    width: 49%;
    /*   position: relative;
      top: 180px; */
  }

  .SecondRout__img img {
    width: 49%;
    position: relative;
  }

  .SecondBase__line {
    position: relative;
    left: 254px;
    bottom: 180px;
    margin: 0;
  }

  .section_test {
    height: 450px;
  }

  .photo__img img {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .video__bord {
    width: 300px;
  }

  .team {
    margin: 0 auto;
    margin-top: 20px;
    width: 250px;
  }

  .team__photo img {
    width: 310px;
  }

  .services__block {
    width: 100%;
    margin-bottom: 15px;
  }

  .services__text {
    width: 98%;
  }

  .services__icon img {
    width: 80%;
  }

  .services__h2 h2 {
    font-size: 24px;
  }

  .SecondRoute__base {
    width: auto;
    position: relative;
    bottom: 230px;
  }

  .services {
    height: 1200px;
  }

  .gift__img img {
    position: relative;
    bottom: 390px;
  }

  .gift__text h5 {
    width: 315px;
    font-size: 14px;
  }

  .gift__button {
    background: transparent;
  }

  .gift__all {
    position: relative;
    top: 155px;
  }

  .section__gift {
    height: 900px;
  }

  .questions__right {
    margin-left: 230px;
    bottom: 25px;
    background-color: transparent;
  }

  .questions__block {
    height: 55px;
  }

  .questions__img {
    bottom: 10px;
    margin-left: 220px;
  }

  .questions__img h5 {
    font-size: 16px;
  }

  .questions__img p {
    font-size: 13px;
  }

  .questions__head h2 {
    font-size: 20px;
    margin-top: 30px;
  }

  .questions__text {
    margin-top: 15px;
  }

  .questions__h {
    font-size: 16px;
  }

  .additional__services {
    width: 250px;
  }

  .SecondRout__img {
    margin-left: 0;
    position: relative;
    top: 530px;
  }

  .special__offer__h2 h2 {
    font-size: 24px;
    line-height: 32px;
  }

  .special__offer__all {
    display: block;
  }

  .img__offer {
    width: 100%;
    border-radius: 20px;
  }

  .special__text h3 {
    font-size: 24px;
    line-height: 28px;
  }

  .special__text h3 span {
    font-size: 18px;
    margin-top: 0px;
  }

  .special__offer__secend {
    background-position: bottom -19px right -31px;
  }

  .special__offer__all {
    background-position: bottom -22px right -43px;
  }

  .special__text p {
    width: 210px;
    padding-bottom: 20px;
  }

  .special__offer__secend {
    display: block;
    margin-top: 20px;
  }

  .spec__but {
    margin-right: 6px;
    margin-top: -35px;
    padding-bottom: 20px;
  }

  .contact__map {
    width: 320px;
  }

  .contacts__top {
    display: block;
  }

  .contacts__bottom {
    display: block;
  }

  .contacts__number {
    margin-left: 0;
  }

  .timeWork {
    display: flex;
  }

  .footer__menu ul {
    display: block;
    margin: 0;
  }

  .section__contacts {
    margin-left: 0;
  }

  .footer__logo {
    margin-right: 0;
    padding-left: 0;
  }

  .section__end {
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 50px;
  }

  .footer__menu ul li {
    margin-top: 0;
    position: relative;
    left: 100px;
  }

  .footer__logo {
    margin-top: 10px;
  }

  .contacts__timeWork {
    margin-left: 0px;
    margin-top: 12px;
  }

  .contacts__text_time {
    position: relative;
    bottom: 37px;
    left: 35px;

  }


  .popup__exc {
    transform: translate(-50%, -9%);
    width: 90%;
  }

  .popup_form_h3 {
    left: 10px;
  }

  .popup_form {
    left: 10px;
  }

  .popup_form input {
    width: 250px;
  }

  .popup_form_button button {
    left: 10px;
    margin-top: 16px;
    margin-bottom: 10px;
  }

  .popup__bike_last {
    margin: 0 auto;
  }

  .popup__bike {
    margin: 0 auto;
  }

  .popup_button {
    margin-bottom: 10px;
  }


}

@media (min-width: 470px) and (max-width: 575px) {
  .excursions_text {
    margin: 45px;
  }

  .excursions__button {
    margin-left: 30px;
    margin-top: 0;
  }

  .video__bord {
    width: 430px;
  }

  .team {
    margin-bottom: 10px;
  }
}

@media (min-width: 390px) and (max-width: 470px) {
  .questions__img {
    margin-left: 295px;
  }

  .questions__right {
    margin-left: 300px;
  }

  .footer__menu ul li {
    position: relative;
    left: 190px;
  }

  .footer__logo {
    position: relative;
    bottom: -95px;
  }

  .popup {
    width: 100%;
  }

  .popup_text {
    transform: translate(15%, 0%);
  }

  .popup label {
    transform: translate(-16%, 0%);
  }

  .popup label input {
    width: 85%;
  }
}

@media (min-width: 470px) and (max-width: 575px) {
  .questions__img {
    margin-left: 370px;
  }

  .questions__right {
    margin-left: 395px;
  }

  .footer__menu ul li {
    position: relative;
    left: 200px;
  }

  .footer__logo {
    position: relative;
    bottom: -95px;
  }

  .popup {
    width: 100%;
  }

  .popup_text {
    transform: translate(15%, 0%);
  }

  .popup label {
    transform: translate(-16%, 0%);
  }

  .popup label input {
    width: 85%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .videoBG {
    min-height: 900px;
  }

  .our__route__img2 {
    position: relative;
    top: 150px;
  }

  .route__base2 {
    top: 230px;
  }

  .SecondRout__img {
    display: flex;
    margin-left: 0;
    width: 100%;
    position: relative;
    top: 510px;
  }

  .SecondBase__line {
    bottom: 270px;
  }

  .SecondRoute__base {
    bottom: 290px;
  }

  #slider label img {
    width: 100%;
  }

  #slider-2 label img {
    width: 100%;
  }

  #slider-3 label img {
    width: 100%;
  }

  .carousel-slider {
    position: relative;
    bottom: 115px;
  }

  .our_routes {
    margin-bottom: 30px;
  }

  #slider-2 label {
    height: 64%;
    width: 75%;
  }

  #slider-3 label {
    height: 64%;
    width: 75%;
  }

  .base__line2 {
    position: relative;
    left: 0px;
    top: 290px;
  }

  .our__route {
    height: 3000px;
  }

  .route__base2 {
    position: relative;
    top: 300px;
  }

  #slider label {
    height: 64%;
    width: 75%;
  }

  .nav__logo {
    margin-left: 1px;
    margin-top: 12px;
  }

  .nav {
    bottom: 141px;
    position: relative;
  }

  .nav__ul {
    display: inline-block;
    margin-top: 12px;
    margin-left: 40px;
  }

  .excursions__h1 {
    margin-top: 0;
    font-size: 44px;
    margin-bottom: 16px;
  }

  .excursions__h2 {
    font-size: 18px;
    width: 270px;
  }

  .excursions__button {
    margin-top: 42px;
  }

  .route {
    width: auto;
    margin-bottom: 60px;
  }

  .route__base {
    margin-left: 10px;
    margin-top: -188px;
  }

  .base__line {
    margin-left: 411px;
    margin-bottom: 155px;
  }

  /*   .our__route__img {
      display: flex;
      margin-top: -77px;
      margin-bottom: 136px;
      width: 48%;
  }
  .our__route__img img {
      padding-right: 6px;
  } */

  .SecondRout__img img {
    padding-left: 10px;
  }

  .SecondRoute__base {
    position: relative;
  }

  .SecondBase__line {
    left: 437px;

    position: relative;
  }

  .route__base2 {
    position: relative;
    bottom: 309px;
  }

  .base__line2 {
    position: relative;
    bottom: 325px;
  }

  .video__bord {
    width: 550px;
  }

  .team__text {
    width: 80%;
  }

  .team__photo img {
    width: 80%;
  }

  .services__block {
    width: 530px;
    height: 95px;
    padding-top: 15px;
  }

  .services__text {
    width: 100%;
  }

  .services__block__end {
    margin-bottom: 20px;
  }

  .special__offer__all {
    margin-bottom: 35px;
  }

  .special__text h3 {
    font-size: 24px;
  }

  .special__text h3 span {
    font-size: 18px;
  }

  .special__offer__all {
    background-position: bottom -33px right -50px;
  }

  .special__offer__secend {
    background-position: bottom -23px right -62px;
  }

  .spec__but {
    margin-bottom: 20px;
  }

  .img__offer {
    height: 100%;
  }

  .gift__img img {
    position: relative;
    bottom: 290px;
  }

  .gift__text h5 {
    position: relative;
    top: 300px;
  }

  .gift__button {
    top: 310px;
    position: relative;
  }

  .questions__img {
    margin-left: 435px;
  }

  .questions__right {
    position: relative;
    left: 95px;
    bottom: 10px;
  }

  .additional__img img {
    width: 100%;
  }

  .additional__services {
    width: 100%;
  }

  .section__contacts {
    margin-left: 0;
  }

  .footer__menu ul {
    display: block;
    margin-left: 0;
  }

  .footer__menu ul li {
    margin-top: 0;
  }

  .contact__social {
    display: inline-flex;
    margin-bottom: 20px;
  }

  .section__end {
    margin-left: 10px;
    margin-right: 10px;
  }

  .photo__img img {
    margin-left: 0;
  }

  .popup {
    width: 100%;
  }

  .popup__exc {
    transform: translate(-50%, -9%);
    width: 71%;
  }

  .popup_button {
    margin-bottom: 10px;
  }

  .popup_form input {
    width: 315px;
  }

  .popup_form {
    left: 0;
  }

  .popup_form_h3 {
    left: 0;
  }

  .popup_form_button button {
    margin-top: 12px;
    left: 0;
  }


}

@media (min-width: 768px) and (max-width: 827px) {
  .videoBG {
    min-height: 900px;
  }



  .number__call {
    position: relative;
    left: 625px;
    bottom: 82px;
    left: 575px;
    bottom: 60px;
  }

  .nav__ul a {
    padding-left: 26px;
  }

  .number__button {
    width: 120px;
    font-size: 12px;
  }

  .number__p {
    font-size: 12px;
  }

  .popup {
    width: 100%;
  }

  .popup {
    width: 100%;
  }

  .popup__exc {
    transform: translate(-50%, -13%);
    width: 71%;
  }

  .popup_button {
    margin-bottom: 10px;
  }

  .popup_form input {
    width: 360px;
  }

  .popup_form {
    left: 80px;
  }

  .popup_form_h3 {
    left: 80px;
  }

  .popup_form_button button {
    left: 80px;
    margin-top: 12px;
    margin-bottom: 20px;
  }
}

@media (min-width: 828px) and (max-width: 870px) {
  .videoBG {
    min-height: 900px;
  }


  .number__call {
    position: relative;
    margin-left: 0px;
    left: 665px;
    bottom: 58px;
  }

  .number__p {
    font-size: 13px;
  }

  .number__button {
    width: 135px;
    font-size: 12px;
  }

  .popup {
    width: 100%;
  }

  .popup__exc {
    transform: translate(-50%, -13%);
    width: 71%;
  }

  .popup_button {
    margin-bottom: 10px;
  }

  .popup_form input {
    width: 360px;
  }

  .popup_form {
    left: 80px;
  }

  .popup_form_h3 {
    left: 80px;
  }

  .popup_form_button button {
    left: 80px;
    margin-top: 12px;
    margin-bottom: 20px;
  }
}

@media (min-width: 871px) and (max-width: 920px) {
  .videoBG {
    min-height: 900px;
  }



  .number__call {
    position: relative;
    margin-left: 0px;
    left: 700px;
    bottom: 58px;
  }

  .number__p {
    font-size: 13px;
  }

  .number__button {
    width: 135px;
    font-size: 12px;
  }

  .popup {
    width: 100%;
  }

  .popup__exc {
    transform: translate(-50%, -14%);
    width: 71%;
  }

  .popup_button {
    margin-bottom: 10px;
  }

  .popup_form input {
    width: 360px;
  }

  .popup_form {
    left: 80px;
  }

  .popup_form_h3 {
    left: 80px;
  }

  .popup_form_button button {
    left: 80px;
    margin-top: 12px;
    margin-bottom: 20px;
  }
}

@media (min-width: 921px) and (max-width: 991px) {
  .videoBG {
    min-height: 900px;
  }


  .number__call {
    position: relative;
    margin-left: 0px;
    left: 725px;
    bottom: 58px;
  }

  .number__p {
    font-size: 13px;
  }

  .number__button {
    width: 135px;
    font-size: 12px;
  }

  .nav__ul a {
    padding-left: 50px;
  }

  .popup {
    width: 100%;
  }

  .popup__exc {
    transform: translate(-50%, -14%);
    width: 71%;
  }

  .popup_button {
    margin-bottom: 10px;
  }

  .popup_form input {
    width: 360px;
  }

  .popup_form {
    left: 80px;
  }

  .popup_form_h3 {
    left: 80px;
  }

  .popup_form_button button {
    left: 80px;
    margin-top: 12px;
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .our__route__img2 {
    position: relative;
    top: 150px;
  }

  .route__base2 {
    top: 230px;
  }

  .SecondRout__img {
    display: flex;
    margin-left: 0;
    width: 100%;
    position: relative;
    top: 510px;
  }

  .SecondBase__line {
    bottom: 270px;
  }

  .SecondRoute__base {
    bottom: 290px;
  }

  #slider label img {
    width: 100%;
  }

  #slider-2 label img {
    width: 100%;
  }

  #slider-3 label img {
    width: 100%;
  }

  .carousel-slider {
    position: relative;
    bottom: 115px;
  }

  .our_routes {
    margin-bottom: 30px;
  }

  #slider-2 label {
    height: 64%;
    width: 75%;
  }

  #slider-3 label {
    height: 64%;
    width: 75%;
  }

  .base__line2 {
    margin-bottom: -255px;
  }

  .our__route {
    height: 3130px;
  }

  .route__base2 {
    position: relative;
    top: 300px;
  }

  #slider label {
    height: 64%;
    width: 75%;
  }

  .nav__ul a {
    padding-left: 30px;
    margin-top: 40px;
    font-size: 13px;
  }

  .nav__logo {
    margin-left: 1px;
    margin-top: 12px;
  }

  .nav {
    bottom: 141px;
    position: relative;
  }

  .nav__ul {
    margin-left: 55px;
  }

  .excursions {
    margin-bottom: 20px;
  }

  .excursions__h1 {
    margin-top: 0px;
  }

  .route__base {
    margin-top: -100px;
  }

  .base__line {
    position: relative;
    top: 55px;
    left: 460px;
  }

  .SecondRoute__base {
    position: relative;

    margin-left: 70px;
  }

  .SecondBase__line {
    left: 575px;

    position: relative;
  }

  .SecondRout__img {
    position: relative;
  }

  .route__base2 {
    position: relative;
    bottom: 325px;
  }

  .our__route__img2 {
    position: relative;
  }

  .our__route__img2 {
    position: relative;
  }

  .photo__img img {
    margin-left: 0;
  }

  .video__bord {
    width: 750px;
  }

  .services__block {
    width: auto;
    height: 90px;
    padding-top: 15px;
  }

  .services__text {
    width: auto;
  }

  .services__block__end {
    margin-bottom: 20px;
  }

  .special__offer__secend {
    margin-top: 40px;
    border-radius: 20px;
  }

  .img__offer {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .special__offer__all {
    background-position: bottom -10px right -33px;
  }

  .special__offer__secend {
    background-position: bottom -3px right -40px;
  }

  .gift__img img {
    position: relative;
    bottom: 290px;
  }

  .gift__all {
    position: relative;
    top: 370px;
  }

  .questions__right {
    position: relative;
    margin-left: 418px;
  }

  .footer__menu ul {
    display: block;
  }

  .footer__menu ul li {
    margin-top: 0;
  }

  .section__contacts {
    margin-left: 0;
  }

  .contacts__top {
    margin-left: 30px;
  }

  .contacts__bottom {
    margin-left: 30px;
  }

  .contact__social {
    display: flex;
    margin-bottom: 10px;
  }
}

@media (min-width: 1100px) and (max-width: 1200px) {
  .nav__ul {
    margin-left: 30;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {

  #s1-2:checked~#slide3-2,
  #s2-2:checked~#slide1-2,
  #s3-2:checked~#slide2-2 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    transform: translate3d(70%, 0, -200px);
  }

  #s1-2:checked~#slide2-2,
  #s2-2:checked~#slide3-2,
  #s3-2:checked~#slide1-2 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    transform: translate3d(-70%, 0, -200px);
  }


  .videoBG {
    min-height: 900px;
  }

  .number__call {
    position: relative;
    margin-left: 0px;
    left: 665px;
    bottom: 58px;
  }

  .number__p {
    font-size: 15px;
  }

  .number__button {
    width: 135px;
    font-size: 12px;
  }

  .nav__ul {
    margin-left: 0;
  }

  .nav__ul a {
    padding-left: 36px;
  }

  .route {
    width: 100%;
    margin-left: 20px;
  }

  .our__route__img img {
    width: 49%;
  }

  .base__routes__h4 p {
    width: 100%;
  }

  .base__button__moreInf {
    width: 43%;
  }

  .base__button__book {
    width: 43%;
  }

  .SecondRout__img img {
    width: 43%;
  }

  .photo__img img {
    margin-left: 0;
  }

  .team {
    width: 105%;
  }

  .services__text {
    width: auto;
  }

  .services__block {
    width: 104%;
  }

  .special__text {
    width: 110%;
  }

  .img__offer {
    height: 100%;
    width: 100%;
  }

  .spec__but {
    margin-bottom: 40px;
  }

  .special__offer__all {
    background-position: bottom -20px right -67px;
  }

  .special__text h3 {
    font-size: 28px;
  }

  .special__text h3 span {
    font-size: 21px;
  }

  .special__text {
    width: 71%;
  }

  .gift__text h5 {
    width: 104%;
  }

  .questions__block {
    height: 9%;
  }

  .questions__right {
    bottom: 30px;
    position: relative;
    left: 30px;
  }

  .questions__img {
    position: relative;
    left: 390px;
    bottom: 9px;
    margin: 0;
  }

  .additional__services {
    width: 102%;
  }

  .additional__text {
    text-align: center;
    padding-left: 0;
  }

  .contacts__number {
    margin-left: 77px;
  }

  .section__contacts {
    margin-left: 0;
  }

  .contacts__text {
    font-size: 15px;
  }

  .contacts__timeWork {
    margin-left: 5px;
  }

  .footer__menu li a {
    margin-right: 7px;
  }

  .footer__menu ul {
    margin-left: 0;
  }

  .video__bord {
    width: 95%;
  }

  .popup__exc {
    transform: translate(-50%, -19%);
    width: 71%;
  }

  .popup_button {
    margin-bottom: 10px;
  }

  .popup_form input {
    width: 280px;
  }

  .popup_form {
    left: 80px;
  }

  .popup_form_h3 {
    left: 80px;
  }

  .popup_form_button button {
    left: 80px;
    margin-top: 12px;
    margin-bottom: 20px;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {

  #s1-2:checked~#slide3-2,
  #s2-2:checked~#slide1-2,
  #s3-2:checked~#slide2-2 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    transform: translate3d(70%, 0, -200px);
  }

  #s1-2:checked~#slide2-2,
  #s2-2:checked~#slide3-2,
  #s3-2:checked~#slide1-2 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    transform: translate3d(-70%, 0, -200px);
  }

}

@media (min-width: 1200px) and (max-width: 1300px) {
  #slider-photo label {
    width: 27%;
    height: 127%;
  }

  .videoBG {
    min-height: 900px;
  }

  .nav__ul {
    margin-left: 10px;
  }

  .route {
    width: auto;
  }

  .photo__img img {
    margin-left: 30px;
  }

  .special__offer__all {
    height: 90%;
  }

  .img__offer__first {
    height: 100%;
  }

  .number__call {
    position: relative;
    left: 625px;
    bottom: 82px;
    left: 740px;
    bottom: 60px;
  }

  .nav__ul a {
    padding-left: 65px;
  }
}

@media (min-width: 1301px) and (max-width: 1635px) {
  #slider-photo label {
    width: 26%;
    height: 133%;
  }

  .videoBG {
    min-height: 900px;
  }

  .number__call {
    position: relative;
    left: 625px;
    bottom: 82px;
    left: 820px;
    bottom: 60px;
  }

  .nav__ul {
    margin-left: 10px;
  }
}

@media (min-width: 1636px) and (max-width: 1800px) {
  .videoBG {
    min-height: 900px;
  }

  .carousel {
    margin-bottom: 200px;
  }

  #slider-photo label {
    width: 23%;
    height: 137%;
  }
}

@media (min-width: 1801px) and (max-width: 2000px) {
  .videoBG {
    min-height: 900px;
  }

  .carousel {
    margin-bottom: 200px;
  }

  #slider-photo label {
    width: 20%;
    height: 142%;
  }
}

@media (min-width: 2001px) and (max-width: 2200px) {
  .videoBG {
    min-height: 900px;
  }

  .carousel {
    margin-bottom: 400px;
  }

  #slider-photo label {
    width: 30%;
    height: 237%;
  }
}

@media (min-width: 2201px) and (max-width: 2500px) {
  .videoBG {
    min-height: 900px;
  }

  .carousel {
    margin-bottom: 600px;
  }

  #slider-photo label {
    width: 30%;
    height: 260%;
  }
}

@media (min-width: 1636px) and (max-width: 2561px) {
  .videoBG {
    max-height: 900px;
    min-height: 900px;
  }

  .special__offer__all {
    height: 90%;
  }

  .img__offer__first {
    height: 100%;
  }

  .number__call {
    position: relative;
    left: 625px;
    bottom: 82px;
    left: 1100px;
    bottom: 60px;
  }
}

@media (min-width: 768px) {
  .menu__icon {
    display: none;
  }
}


@media (max-width: 767px) {
  .menu__body {
    position: fixed;
    top: 0;
    left: -110%;
    width: 100%;
    height: 100%;
    background-color: rgba(18, 18, 20, 0.938);
    padding: 80px 30px 30px 0px;
    transition: all 0.3s ease 0s;
    overflow: auto;
  }

  .menu__icon {
    z-index: 99999;
    display: block;
    position: fixed;
    width: 30px;
    height: 18px;
    cursor: pointer;
    margin: 30px;
  }

  .menu__icon::before,
  .menu__icon::after,
  .menu__icon span {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: rgb(175, 172, 172);
  }

  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }

  .menu__icon::before {
    top: 0;
  }

  .menu__icon::after {
    bottom: 0;
  }

  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }

  .nav__ul a {
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.3);
    padding-left: 0;
    display: block;
    margin-top: 20px;
    font-size: 16px;
    padding: 10px;
  }

  .menu__body._active {
    left: 0;
    z-index: 10;
  }

  .wrapper._lock {
    overflow: hidden;
  }

  .menu__icon._active span {
    transform: scale(0) translate(0px, -50%);
  }

  .menu__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }

  .menu__icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }

  .excursions__route {
    margin-bottom: 30px;
  }
}

@media (min-width: 320px) and (max-width: 389px) {
  .popup {
    width: 100%;
  }

  .popup_text {
    transform: translate(0%, 0%);
  }

  .form__all {
    transform: translate(0%, 0%);
  }

  .popup label input {
    width: 100%;
  }
}

@media (min-width: 320px) and (max-width: 350px) {
  #slider-photo label {
    width: 73%;
    height: 87%;
  }

  .menu__icon {
    top: 10px;
    left: 240px;
  }
}

@media (min-width: 351px) and (max-width: 400px) {
  #slider-photo label {
    width: 70%;
    height: 93%;
  }

  .menu__icon {
    top: 10px;
    left: 270px;
  }
}

@media (min-width: 401px) and (max-width: 450px) {
  #slider-photo label {
    width: 57%;
    height: 86%;
  }

  .menu__icon {
    top: 10px;
    left: 325px;
  }
}

@media (min-width: 451px) and (max-width: 500px) {
  #slider-photo label {
    width: 53%;
    height: 90%;
  }
}

@media (min-width: 501px) and (max-width: 550px) {
  #slider-photo label {
    width: 51%;
    height: 98%;
  }
}

@media (min-width: 551px) and (max-width: 570px) {
  #slider-photo label {
    width: 48%;
    height: 100%;
  }
}

@media (min-width: 571px) and (max-width: 630px) {
  #slider-photo label {
    width: 46%;
    height: 100%;
  }
}

@media (min-width: 631px) and (max-width: 700px) {
  #slider-photo label {
    width: 42%;
    height: 100%;
  }
}

@media (min-width: 701px) and (max-width: 800px) {
  #slider-photo label {
    width: 37%;
    height: 100%;
  }
}

@media (min-width: 801px) and (max-width: 900px) {
  #slider-photo label {
    width: 32%;
    height: 100%;
  }
}

@media (min-width: 901px) and (max-width: 950px) {
  #slider-photo label {
    width: 33%;
    height: 117%;
  }
}

@media (min-width: 951px) and (max-width: 1000px) {
  #slider-photo label {
    width: 30%;
    height: 100%;
  }
}

@media (min-width: 1001px) and (max-width: 1199px) {
  #slider-photo label {
    width: 32%;
    height: 125%;
  }
}

@media (min-width: 451px) and (max-width: 540px) {
  .menu__icon {
    top: 10px;
    left: 365px;
  }
}

@media (min-width: 541px) and (max-width: 575px) {
  .menu__icon {
    top: 10px;
    left: 450px;
  }
}

@media (min-width: 576px) and (max-width: 650px) {
  .menu__icon {
    left: 500px;
  }
}

@media (min-width: 651px) and (max-width: 700px) {
  .menu__icon {
    left: 570px;
  }
}

@media (min-width: 701px) and (max-width: 767px) {
  .menu__icon {
    left: 620px;
  }
}