.section__video {
    background-repeat: no-repeat;
    background-image: url(../../../assets/img/videoBack.svg);
    height: 600px;
    background-size: cover;
    .video__border {
        text-align: center;
        .video__bord {
            margin-top: 82px;
            border: 6px solid #ffffff;
            border-radius: 4px;
        }
    }
}

@media (max-width: 575.98px) {
    .section__video {
        .video__border {
            .video__bord {
                width: 300px;
            }
        }
    }
}

@media (min-width: 470px) and (max-width: 575px) {
    .section__video {
        .video__border {
            .video__bord {
                width: 430px;
            }
        }
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .section__video {
        .video__border {
            .video__bord {
                width: 550px;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .section__video {
        .video__border {
            .video__bord {
                width: 750px;
            }
        }
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .section__video {
        .video__border {
            .video__bord {
                width: 95%;
            }
        }
    }
}
